
html {
  --background-color: rgba(0, 0, 0, 0.705);
  --font-color:white;
  --hover-color:rgb(89, 156, 255);
  --box-color:gray;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  width: 80%;
  margin: auto;
}

button{
  background-color: transparent;
  border: none;
  outline:none;
  width: 5em;
  height: 5em;
}

button:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

h1, summary{
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

details, div{
  border-style: solid;
  border-width: 0.1em;
  background-color: var(--box-color);
}

h2, h3, h4, h5, h6, li, details, div {
  width: 90%;
  font-size: 1em;
  padding-left: 2%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

summary::-webkit-details-marker{
  display: none;
}

summary:hover{
  color: var(--hover-color);
  cursor: pointer;
}

ul, ol{
  list-style-type: none;
}


